# Data Science Tools and Ecosystem

In this notebook, Data Science tools and Ecosystems are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Seaborn
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| RStudio |
| PyCharm |
| Microsoft Visual Studio  |

### Below are a few examples of evaluating arithmetic expressions in Python.

    [1]: print(2+2+4)
    [2]: 8

    [1]: 2*10
    [2]: 20

    [1]: n = 10/2
    [2]: print(n)
    [1]: 5.0

In [22]:
# This is a simple arithmetic expression to multiply
(3*4)+5

17

In [24]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- List popular Open Source tools for Data Science
- List commonly use libraries for Data Science
- Evaluate arithmetic expressions in Python code

## Author:
Luis Eduardo Ternera Hernandez